/*Quitar bordes generados en la pagina*/
*{margin:0; 
padding:0;
box-sizing: border-box;} 

/*Encabezado del sitio*/

.barra{padding: 0px;}

.barranav{background-color: #4c9acc;}

.padretexto{margin-right: 10px;}

.padretexto a{color:aliceblue;
    text-decoration: none;}

.botonprev{margin-left: 155px; width: 170px;}
.botonnext{margin-right: 150px; width: 170px;}

/*Logodelapagina*/
.banderagrecia{background-image: url(../imagenes/banderagrecia.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.1cm;
    width: 2cm;
    margin-top: 0px;
    margin-left: 80px;}

/*footer*/
footer{background-color: blue;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10PX;}

.footersantorini{text-decoration: none;
    color:aliceblue;}

.footerfooter{padding-top: 2.5px;}

/*carrousel fotos */

.carousel-inner{width: 80%; margin-left: 160px; margin-top: 10px;}

.atardecersantorini{background-image: url(../imagenes/atardecer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;}
    
.fotosantorini{background-image: url(../imagenes/arquitectura-oia-santorini.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;} 

.costanerasantorini{background-image: url(../imagenes/costanera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;}


.videosantorini{margin-top: 10px; margin-bottom: 10px; margin-left: 300px;}
.mapasantorini{margin-bottom: 10px; margin-left: 120px;}

/*Fotos comidas*/
.dolmas{margin-left: 0cm;
    width: 200px;
    height: 400px;}

.dolmas1{list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;} 

.humus{margin-right: 0cm;
    margin-left: 0cm;
    width: 450px;
    height: 400px;}

.humus1{list-style: none;
     display: flex;
    flex-direction: column;
    text-align: center;}

.kofta{width: 400px;
    height: 400px;}
    
.kofta1{list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;}  

/*grid comidas*/    

.gridcomidas img{height: 100%; width: 100%;}
    
.gridcomidas{display: grid;
    grid-template-areas: 
    "img1    img2    img3"
    "texto1  texto2  texto3";
    grid-template-columns: 30% 27% 30%;
    grid-template-rows: 300px 250px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    column-gap: 20px;
    margin-top: 5px;
    margin-bottom: 5px;}
    
.Dolmas{grid-area: img1;}
.Dolmas1{grid-area: texto1;}
    
.humus{grid-area: img2;}
.humus1{grid-area: texto2;}

.kofta{grid-area: img3;}
.kofta1{grid-area: texto3;}

/*Video y fotos de historia*/

.videosantorini{justify-content: center;}

.historia1{margin-left: 2cm;
    width: 400px;
    height: 300px;}

.historia2{margin-right: 2cm;
    margin-left: 2cm;
    width: 400px;
    height: 300px;}

.historia3{width: 400px;
    height: 300px;}

/*Hoteles santorini*/

.hoteltop{}

.asha{width: 440px;
    height: 315px;}

.hotel1{list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.kastelli{width: 440px;
    height: 315px;}

.hotel2{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;}

/*grid hoteles*/    

.grid img{height: 100%; width: 100%;}   
.grid video{height: 100%; width: 100%;}
    
.grid{display: grid;
    grid-template-areas: 
    "img1    video1   img2"
    "texto1     -    texto2";
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 315px 120px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;}
    
.asha{grid-area: img1;}
.hotel1{grid-area: texto1;}
    
.kastelli{grid-area: img2;}
.hotel2{grid-area: texto2;}
    
.hoteltop{grid-area: video1;}

/*Zona turistica santorini*/

.vinosantorini{}

.vinosanto{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.museo{}

.museotera{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.playarojasantorini{}

.playaroja{list-style: none;
    display: flex;
   flex-direction: column;
   justify-content: center;
    text-align: center;}

/*Grid zona turistica*/
.gridzonatur img{height: 100%; width: 100%;}

.gridzonatur{display: grid;
grid-template-areas: 
"img1    img2    img3"
"texto1  texto2  texto3"
"mapa1   mapa2   mapa3";
grid-template-columns: 30% 32% 30%;
grid-template-rows: 450px 250px 300px; 
justify-content: center;
justify-items: center;
text-align: center;
column-gap: 35px;
margin-top: 5px;
margin-bottom: 5px;}

.vinosantorini{grid-area: img1;}
.vinosanto{grid-area: texto1;}
.mapamuseo{grid-area: mapa1;}

.museo{grid-area: img2;}
.museotera{grid-area: texto2;}
.mapamuseo{grid-area: mapa2;}

.playarojasantorini{grid-area:img3;}
.playaroja{grid-area: texto3;}
.mapaplaya{grid-area: mapa3;}

/*mobile index*/
@media screen and (max-width:500px)
{.banderagrecia{margin-left: 30px}
.fotosantorini{height: 420px;}

.mapasantorini{margin-left: 0px;
margin-top: 7px;
margin-bottom: 7px;}
.videosantorini{margin-left: 0px;}}

/*mobile comidas*/
@media  screen and (max-width: 500px)
{.historiasantorini{margin-left: 0px; margin-bottom: 0px; height: 250px; width: 500px}
.historia1{margin-left: 0px; width: 500px;}
.historia2{margin-left: 0px; width: 500px;}
.historia3{width: 500px;}}


/*mobile historia*/ 
