/*Quitar bordes generados en la pagina*/
*{margin:0; 
padding:0;
box-sizing: border-box;} 

/*index*/
.container{padding: 0px; margin-left: 0px;}
.imagenindex{width: 1535px; height: 738px;}
.opacidadindex{width: 1535px; height: 738px;}
.botonindex{margin-right: 10px;}
.botonindex a{text-decoration: none; color: aliceblue;} 
.tituloindex{font-family: 'Dancing Script', cursive;}

/*Logodelapagina*/
.banderagrecia{background-image: url(../imagenes/banderagrecia.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.1cm;
    width: 2cm;
    margin-top: 0px;
    margin-left: 80px;}

/*Encabezado del sitio*/

.barra1{margin-left: 5px; margin-right: 5px; margin-top: 6px; padding: 0px;}

.barra2{background-color: #1c62eb;}

.barra3{justify-content:flex-end; margin-right: 40px; padding-top: 5px;}

.barra4 a{color: aliceblue;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;}


body {
    /* Opacidad */
    background-color: rgb(255, 255, 255);
        
    /* Imagen de fondo */
    background-image: url('../imagenes/fondo11.jpg');
        
    /* Tamaño y posición de la imagen de fondo */
    background-size: cover;
    background-position: center;}


/*footer*/
footer{background-color: #3f79f0;
    height: 25px;
    width: 99%;
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 8PX;
    margin-left: 8px;}

.footer1{padding-top: 1px;}

.letrafooter1{text-decoration: none;
    color:aliceblue;
    font-family: 'Dancing Script', cursive;}


/*grid historia*/ 
.grid video{height: 100%; width:100%;}
.grid img{height: 100%; width: 100%;}
.grid map{height: 100%; width: 100%;}

.grid{display: grid;
    grid-template-areas: 
    "video1   video1"
    "map      video2";
    grid-template-columns: 40% 40%;
    grid-template-rows: 400px 950px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    }

.videohistoriasantorini{grid-area: video1;  margin-top: 65px;}
.videosantorini{grid-area: video2;}
.mapasantorini{grid-area: map;}


.atardecersantorini{background-image: url(../imagenes/atardecer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;}
    
.fotosantorini{background-image: url(../imagenes/arquitectura-oia-santorini.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;} 

.costanerasantorini{background-image: url(../imagenes/costanera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    width: 100%;}




/*Fotos comidas*/
.dolmas{margin-left: 0cm;
    width: 200px;
    height: 400px;}

.dolmas1{list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;} 

.humus{margin-right: 0cm;
    margin-left: 0cm;
    width: 450px;
    height: 400px;}

.humus1{list-style: none;
     display: flex;
    flex-direction: column;
    text-align: center;}

.kofta{width: 400px;
    height: 400px;}
    
.kofta1{list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;}  


/*Video y fotos de historia*/

.videosantorini{justify-content: center;}

.historia1{margin-left: 2cm;
    width: 400px;
    height: 300px;}

.historia2{margin-right: 2cm;
    margin-left: 2cm;
    width: 400px;
    height: 300px;}

.historia3{width: 400px;
    height: 300px;}

/*Hoteles santorini*/

.hoteltop{}

.asha{width: 440px;
    height: 315px;}

.hotel1{list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.kastelli{width: 440px;
    height: 315px;}

.hotel2{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;}

/*grid hoteles*/    

.grid img{height: 100%; width: 100%;}   
.grid video{height: 100%; width: 100%;}
    
.grid{display: grid;
    grid-template-areas: 
    "img1    video1   img2"
    "texto1     -    texto2";
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 315px 200px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;}
    
.asha{grid-area: img1;}
.hotel1{grid-area: texto1;}
    
.kastelli{grid-area: img2;}
.hotel2{grid-area: texto2;}
    
.hoteltop{grid-area: video1;}

/*Zona turistica santorini*/

.vinosantorini{}

.vinosanto{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.museo{}

.museotera{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.playarojasantorini{}

.playaroja{list-style: none;
    display: flex;
   flex-direction: column;
   justify-content: center;
    text-align: center;}

/*Grid zona turistica*/
.gridzonatur img{height: 100%; width: 100%;}

.gridzonatur{display: grid;
grid-template-areas: 
"img1    img2    img3"
"texto1  texto2  texto3"
"mapa1   mapa2   mapa3";
grid-template-columns: 30% 32% 30%;
grid-template-rows: 450px 250px 300px; 
justify-content: center;
justify-items: center;
text-align: center;
column-gap: 35px;
margin-top: 5px;
margin-bottom: 5px;}

.vinosantorini{grid-area: img1;}
.vinosanto{grid-area: texto1;}
.mapamuseo{grid-area: mapa1;}

.museo{grid-area: img2;}
.museotera{grid-area: texto2;}
.mapamuseo{grid-area: mapa2;}

.playarojasantorini{grid-area:img3;}
.playaroja{grid-area: texto3;}
.mapaplaya{grid-area: mapa3;}

/*mobile index*/
@media screen and (max-width:500px)
{.banderagrecia{margin-left: 30px}
.fotosantorini{height: 420px;}

.mapasantorini{margin-left: 0px;
margin-top: 7px;
margin-bottom: 7px;}
.videosantorini{margin-left: 0px;}}

/*mobile comidas*/
@media  screen and (max-width: 500px)
{.historiasantorini{margin-left: 0px; margin-bottom: 0px; height: 250px; width: 500px}
.historia1{margin-left: 0px; width: 500px;}
.historia2{margin-left: 0px; width: 500px;}
.historia3{width: 500px;}}


/*mobile historia*/ 

.card{justify-content: center;}

.comida{height: 300px;
width: 400px;
margin-top: 10px;
margin-left: 17px;}

.tarjetas{margin-left: 75px;
margin-top: 40px;
width: 90%;}

.titulo1{text-align: center;}
.descripcion1{}

.titulo2{text-align: center}
.titulo3{text-align: center}

.preparacion{margin-top: 10px;}


