
.videoindex{margin-top: 60px; padding-left: 8%;}
.videoindexsantorini{width: 90%; height: 87%;}

header{
    .barra1{margin-left: 5px; margin-right: 5px; margin-top: 6px; padding: 0px;
            .barra2{background-color: #1c62eb;
                a{font-size: larger; color: aliceblue; margin-right: 20px; font-family: $fontsantorini;
                    .banderagrecia{background-image: url(../imagenes/banderagrecia.png);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 1.1cm;
                                    width: 2cm;
                                    margin-top: 0px;
                                    margin-left: 80px;}}}}}

.barra3{justify-content: flex-end;}


