
/*mobile index*/
@media screen and (max-width:500px)
{.imagenindex{max-width: 100%; max-height: 100%;}
.opacidadindex{max-width: 100%; max-height: 100%;}
.barraindex{max-width: 95%;}}

/*mobile header*/
@media screen and (max-width:500px)
{.barra1{max-width: 490px; margin-left: 0px;}}

/*mobile body historia*/
@media screen and (max-width: 500px) 
{.gridhistoria {
      display: grid;
      grid-template-areas:
        "video1"
        "mapa1"
        "video2";
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      justify-content: center;
      justify-items: center;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 5px;
      row-gap: 7px;}
  
    .videohistoriasantorini{max-width: 470px;}
    .videosantorini {max-width: 470px;}
    .mapasantorini {max-width: 470px;}}


/*mobile comidas*/
@media screen and (max-width: 500px) 
{.tarjetas{margin-left: 0px; width: 100%;}
.comida{width: 93%;}}

@media screen and (max-width: 500px) 
{.mapaplaya{width: 99%;}
.mapamuseo{width: 99%;}
.mapavino{width: 99%;}}


/*mobile hoteles*/
@media screen and (max-width: 500px)  
{
}
    
  
    



/*.gridhoteles img{height: 100%; max-width: 950px;}   
.gridhoteles video{height: 100%; max-width: 495px;}
    
.gridhoteles{display: grid;
    grid-template-areas: 
    "img1"
    "texto1" 
    "video2"
    "img2"
    "video1"
    "texto2";
    grid-template-columns: 90%;
    grid-template-rows: 650px  400px 650px 400px 650px 400px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 5px;
    row-gap: 7px;}
    
.asha{grid-area: img1;}
.hotel1{grid-area: texto1; margin-right: 200px; width: 450px;}
    
.kastelli{grid-area: img2;}
.hotel2{grid-area: texto2; margin-left: 200px; width: 450px;}
    
.hoteladronis{grid-area: video2; margin-left: 270px; width: 455px;}
.hotelkastelli{grid-area: video1; margin-right: 270px; width: 455px;}*/