
/*mobile index*/
@media screen and (max-width:500px)
{.imagenindex{max-width: 100%; max-height: 100%;}
.opacidadindex{max-width: 100%; max-height: 100%;}
.barraindex{max-width: 95%; margin-left: 10px;}
.textoindex{max-width: 65%; text-align: center;}}

/*mobile header*/
@media screen and (max-width:500px)
{.barra1{max-width: 490px; margin-left: 0px;}
header{.barra1{.barra2{a{.banderagrecia{margin-left: 10px; width: 90%;}}}}}
.navbar-toggler{margin-right: 10px;}}

/*footer*/
@media screen and (max-width:500px){
.footerf{width: 99%; margin-left: 2px;}}

/*mobile body historia*/
@media screen and (max-width: 500px) 
{.gridhistoria {
      display: grid;
      grid-template-areas:
        "video1"
        "mapa1"
        "video2";
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      justify-content: center;
      justify-items: center;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 5px;
      row-gap: 7px;}
  
    .videohistoriasantorini{max-width: 95%;}
    .videosantorini {max-width: 95%;}
    .mapasantorini {max-width: 95%;}}


/*mobile comidas*/
@media screen and (max-width: 500px) 
{.tarjetas{margin-left: 0px; width: 100%;}
.comida{width: 100%;}}

@media screen and (max-width: 500px) 
{.mapaplaya{width: 99%;}
.mapamuseo{width: 99%;}
.mapavino{width: 99%;}}


/*mobile hoteles*/
@media screen and (max-width: 500px) 
{main{.gridhoteles {
        grid-template-areas: 
        "img1"
        "texto1"
        "img2"
        "texto2";
        grid-template-columns: 100%;
        grid-template-rows: 300px 400px 300px 470px;}

    .asha {max-width: 95%; max-height: 300px;}
    .hoteladronis {display: none;}

    .kastelli {max-width: 95%; max-height: 300px;}
    .hotelkastelli {display: none;}}}