/*index*/
@media screen and (min-width:501px) and (max-width:978px)
{.imagenindex{max-width: 978px; height: 100%;}
.opacidadindex{max-width: 978px; height: 100%;}
.barraindex{max-width: 978px;}}

/*header*/
@media screen and (min-width:501px) and (max-width:978px)
{.barra1{max-width: 978px; margin-left: 0px;}}

/*footer*/
@media screen and (min-width:501px) and (max-width:978px)
{.footerf{margin-top:0px}}

/*body historia*/
@media screen and (min-width:501px) and (max-width: 978px) 
{.gridhistoria {
      display: grid;
      grid-template-areas:
        "video1 video1"
        "mapa1 video2";
      grid-template-columns: 49% 49%;
      grid-template-rows: auto auto;
      justify-content: center;
      justify-items: center;
      text-align: center;
      margin-top: 65px;
      margin-bottom: 5px;
      row-gap: 7px;}
  
    .videohistoriasantorini{max-width: 978px;}
    .videosantorini {max-width: 470px;}
    .mapasantorini {max-width: 470px;}}


/*mobile comidas*/
@media screen and (min-width:501px) and (max-width: 978px) 
{.tarjetas{margin-left: 5px; width: 99%; margin-bottom: 10px;}
.comida{max-width: 265px;}}

/*zona turistica*/
@media screen and (min-width:501px) and (max-width: 978px) 
{.mapaplaya{width: 270px;}
.mapamuseo{width: 270px;}
.mapavino{width: 270px;}}

/*hoteles*/
@media screen and (min-width:501px) and (max-width: 978px) 
{.gridhoteles img{height: 100%; max-width: 950px;}   
.gridhoteles video{height: 100%; max-width: 495px;}
    
.gridhoteles{display: grid;
    grid-template-areas: 
    "img1 img1"
    "texto1 video2"
    "img2  img2"
    "video1 texto2";
    grid-template-columns: 49% 49%;
    grid-template-rows: 650px  400px 650px 400px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 5px;
    row-gap: 7px;}
    
.asha{grid-area: img1;}
.hotel1{grid-area: texto1; margin-right: 200px; width: 450px;}
    
.kastelli{grid-area: img2;}
.hotel2{grid-area: texto2; margin-left: 200px; width: 450px;}
    
.hoteladronis{grid-area: video2; margin-left: 270px; width: 455px;}
.hotelkastelli{grid-area: video1; margin-right: 270px; width: 455px;}}

